vendor/
.idea/
.env
BeerOCraft.iml
public/.htaccess
var/*
var/cache/*
var/cache/dev/*
var/cache/dev/Symfony/*

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
