vendor/
.idea/
.env
BeerOCraft.iml
public/.htaccess
var/*
var/cache/*
var/cache/dev/*
var/cache/dev/Symfony/Config/Doctrine
var/cache/dev/Symfony/Config/Doctrine/Dbal/
var/cache/dev/Symfony/Config/Doctrine/Orm/
var/cache/dev/Symfony/Config/DoctrineMigrations/
var/cache/dev/Symfony/Config/Framework/
var/cache/dev/Symfony/Config/Doctrine/Twig/


###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
