{% extends 'base.html.twig' %}

{% block title %}BeerOCraft{% endblock %}

{% block body %}
    <h1>Coucou</h1>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <a href="/dashboard">dashboard</a>
{% endblock %}
